<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
  {% capture url %}{{ page.url | remove:'index.html' }}{% endcapture %}
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% if page.lang == "en" %}
                    {% for link in site.en_links %}
                        <li><a href="{{ site.url }}{{ link.url }}" {% if url == link.url %}class="top-navigation-current"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                    <!-- 添加切换到中文的链接 -->
                    <li><a href="{{ site.url }}/index">中文</a></li>
                {% elsif page.lang == "cn" %}
                    {% for link in site.cn_links %}
                        <li><a href="{{ site.url }}{{ link.url }}" {% if url == link.url %}class="top-navigation-current"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                    <!-- 添加切换到英文的链接 -->
                    <li><a href="{{ site.url }}/en/index">English</a></li>
                {% endif %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<!-- Lastly modified by Yilong Chen in 2023/10/26 --> 