<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
  {% capture url %}{{ page.url | remove:'index.html' }}{% endcapture %}
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        <!-- 英文链接 -->
                {% for link in site.links %}
                    {% if link.url contains "/en/" %}
                        <li><a href="{{ site.url }}{{ link.url }}" {% if url == link.url %}class="top-navigation-current"{% endif %}>{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <!-- 中文链接 -->
                {% for link in site.links %}
                    {% if link.url contains "/cn/" %}
                        <li><a href="{{ site.url }}{{ link.url }}" {% if url == link.url %}class="top-navigation-current"{% endif %}>{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<!-- Lastly modified by Yilong Chen in 2023/10/26 -->